body {
  font-family: "Raleway", sans-serif;
  background-color: $primary-color;
}

h1 {
  color: $text-color;
}
a {
  color: $text-color;
  text-decoration: none;
}
p {
  color: $text-color;
}

button {
  outline: inherit;
  border: none;
}
